*.a
*.cat
*.d
*.dylib
*.exe
*.la
*.lo
*.o
*.obj
*.so
*~
.*.sw?
.DS_Store
.deps
.gdb_history
.libs
/*.a
/*.d
/*.deb
/*.gz
/*.o
/*.rpm
/.build/
/Session.vim
/TAGS
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/core
/dat/
/default.c
/depcomp
/fdmf/
/install-sh
/libtool
/ltmain.sh
/missing
/png/
/soundchip
/stamp-h*
/static/
/tags
/test.*
/version.h
Makefile
Makefile.in
Session.vim
aclocal.m4
